<div class="container">
        <p>In order to connect to the <span style="color:
        #bebebe;">ufp</span><span style="color:
        black;">Identity</span> service client authenticated SSL is
        required. The examples and libraries take care of most of this
        for you, however you must have a certificate and private
        key. It is important you do this, so no one but you has access
        to the private key. This form will generate a Certificate
        Signing Request, a private key and a secret key that encrypts
        the private key. All you need to do is enter in a few fields
        describing your company.</p>

        <p>Make sure to read carefully and enter the values in
        carefully. If there are errors or inconsistencies we will ask
        you to redo the certificate signing request. The elements you
        will need to provide are as follows:</p>

        <dl>
          <dt>Country Code</dt>
          <dd>This is a two-letter country code. You can find your own country code <a href="http://www.iso.org/iso/country_names_and_code_elements">here</a>.</dd>
          <dt>State or Province Name</dt>
          <dd>This is the state or province name fully spelled out, so California rather than CA or any postal abbreviation.</dd>
          <dt>Locality</dt>
          <dd>This further identifies your location, city or other. Again this is fully spelled out so San Francisco rather than SF or any other abbreviation.</dd>
          <dt>Company/Organization</dt>
          <dd>This is your full company name as its registered. The exact abbreviations are required to match however your company is actually registered.</dd>
          <dt>Organizational Unit</dt>
          <dd>This is to further identify what department of your organization is going to be utilizing the <span style="color:
          #bebebe;">ufp</span><span style="color: black;">Identity</span> service. This field is not required, but is useful for organizational purposes.</dd>
          <dt>Domain Name</dt>
          <dd>Put some thought into your domain name as this is how the <span style="color: #bebebe;">ufp</span><span style="color: black;">Identity</span> service will identify you. You can put anything you like here but typical examples are your actual domain name e.g. example.com which would allow you to use the <span style="color:
          #bebebe;">ufp</span><span style="color: black;">Identity</span> service for a host of machines. You can also tie it to specific machine e.g. www.example.com. Any unique identifier will work but if you have questions please dont hesitate to <a href="mailto:&#105;&#110;&#102;&#111;&#64;&#117;&#102;&#112;&#46;&#99;&#111;&#109;?subject=Domain Name Question">contact us</a> with any questions.</dd>
          <dt>Email</dt>
          <dd>This should be a valid email and should allow us to contact someone responsible.</dd>
        </dl>


        <form id="x500" method="post" action="/csr">
          <legend>Certificate Request Generation Form</legend>
          <label><a href="http://www.iso.org/iso/country_names_and_code_elements">2 Letter Country Code</a> e.g. US</label>
          <input type="text" id="country" name="C" class="field required" title="Please provide a country code" />
          <label>Full state or province name e.g. California</label>
          <input type="text" id="state" name="ST" class="field required" title="Please provide a state" />
          <label>Full locality name/city e.g. San Francisco</label>
          <input type="text" id="locality" name="L" class="field required" title="Please provide a locality/city" />
          <label>Company e.g. Internet Widgets Pty Ltd</label>
          <input type="text" id="organization" name="O" class="field required" title="Please provide an organization/company" />
          <label>Section e.g. Manufacturing Department</label>
          <input type="text" id="organizationalUnit" name="OU" class="field" title="Please provide a organizational unit" />
          <label>Domain Name e.g. example.com</label>
          <input type="text" id="commonName" name="CN" class="field required" title="Please provide a common name" />
          <label>Your valid email e.g. alice@example.com</label>
          <input type="text" id="emailAddress" name="emailAddress" class="field required" title="Please provide an email address" />
          <div class="control-group">
            <div class="controls">
              <button class="btn btn-primary" type="submit">Submit</button>
            </div>
          </div>
        </form>
</div>
